{% extends 'Front/index.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <h4><i class="fa fa-lock" aria-hidden="true"></i> Connexion</h4>
    <div>
        <label for="email">Username</label>
        <input type="text" id="username" name="_username" value="{% if error %}{{ error.token.user }}{% endif %}"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="_password" />
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    <button type="submit" class="btn">
        <i class="fa fa-sign-in" aria-hidden="true"></i> Connexion
    </button>
</form>
{% endblock %}
