<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="public/build/css/app.css">
  <link rel="stylesheet" type="text/css" href="public/build/css/style.css">
</head>
<body>
  <div class="min-h-screen flex">
    {% include "Back/layouts/sidebar.html.twig" %}
    <div class="content" id="content">
      <nav id="navbar" class="flex fixed shadow navbar pin-l pin-t pin-r items-center justify-between flex-wrap bg-blue-darker p-6 pl-10">
        <div class="toggle-sidebar" id="toggle-sidebar">
          <span class="icon-circle-left"></span>
        </div>
        <div class="flex-1 text-center">
          {% block breadcrumb %}{% endblock %}
        </div>
        <div class="flex-1 text-center">
          <ul>
            <input type="text" id="search" class="search bg-blue-darker" placeholder="Search" name="search">
          </ul>
        </div>
        <div class="flex-1 text-right">
        <div class="dropdown">
          <button class="text-white font-bold py-2 px-4">User</button>
          <div class="dropdown-content rounded">
            <a href="#" class="hover:bg-blue-dark hover:text-white text-black">Profil</a>
            <a href="#" class="hover:bg-blue-dark hover:text-white text-black">Settings</a>
            <a href="#" class="hover:bg-blue-dark hover:text-white text-black">Logout</a>
          </div>
        </div>
        </div>
      </nav>

      <div class="p-10 mt-50">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
  {% block javascripts %}{% endblock %}
  <script type="text/javascript" src="public/build/js/app.js"></script>
</body>
</html>
