<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('build/css/style.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div class="main-panel">
        {% include "Back/layouts/sidebar.html.twig" %}
        {% include "Back/layouts/navbar.html.twig" %}
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>

    {% block javascripts %}{% endblock %}

    <script type="text/javascript" src="{{ asset('build/js/app.js ') }}"></script>
</body>
</html>
