<div id="sidebar" class="block fixed pin-l pin-t pin-b w-full sidebar text-white">
<div class="bg-white shadow md:h-full">
  <li>
    <a href="#" class="block p-4 text-grey-darker font-bold text-center">
        <img class="school-logo" src="{{ asset('images/logo.png') }}">
        <span class="link-label">My School</span>
    </a>
  </li>
  <ul class="list-reset">
    <li>
      <a href="#" class="block p-4 text-grey-darker font-bold border-blue hover:bg-grey-lighter border-r-4">
        <span class="icon-home"></span>
        <span class="link-label">Home</span>
      </a>
    </li>
    <li>
      <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-blue hover:bg-grey-lighter border-r-4">
        <span class="icon-home"></span>
        <span class="link-label">About us</span>
      </a>
    </li>
    <li>
      <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-blue hover:bg-grey-lighter border-r-4">
        <span class=" icon-folder-open"></span>
        <span class="link-label">Notes</span>
      </a>
    </li>
    <li>
      <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-blue hover:bg-grey-lighter border-r-4">
        <span class="icon-users"></span>
        <span class="link-label">Contacts</span>
      </a>
    </li>
  </ul>
</div>
</div>
