<div class="sidebar">
    <div class="logo">
        <span class="simple-text">
            {{ config.get('sitename') }}
        </span>
    </div>
    <div class="user-infos row align-items-center">
        <div class="col-3">
            <div class="photo"></div>
        </div>
        <div id="name" class="col-9 text-left">
            <span>{{ app.user.firstname }} {{ app.user.lastname }}</span>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('dashboard') }}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">school</i>
                    <p>Courses</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">rate_review</i>
                    <p>Grades & Attendance</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">question_answer</i>
                    <p>Projets</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">event_note</i>
                    <p>Events</p>
                </a>
            </li>
        </ul>
    </div>
</div>
