#
# If you add variables here, you also need to add them to
# docker/php-env.conf
#
POSTGRES_PORT=5454
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=content
POSTGRES_DB2=symfony

APP_ENV=dev
APP_SECRET=i_should_be_a_random_string_please_change_me
DATABASE_URL=postgres://root:root@127.0.0.1:53306/symfony

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
