###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/node_modules/
/.php_cs.cache
/yarn-error.log

###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs.cache
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
