<div class="col-lg-3">
    <div class="card card-stats dashboard-item">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
                <i class="material-icons">content_copy</i>
            </div>
            <div class="align-middle p-1 pr-2">
                <span class="download"><a href="#" download><span>DOWNLOAD</span><span>Pdf</span></a></span>
            </div>
        </div>
        <div class="card-footer">
            <h3 class="text-dark">Annual Planning</h3>
            <p class="text-dark">Last update : 2 days ago</p>
        </div>
    </div>
</div>
