<div class="col-12 {{ colorClass }}">
    <div class="card card-stats dashboard-item">
        <div class="card-header card-header-warning card-header-icon">
            <div style="margin-top:-28px" class="card-icon">
                <i class="material-icons">content_copy</i>
            </div>
            <div class="align-middle p-1 pr-2">
                <span class="download"><a href="https://dl.reseau-ges.fr/private/UfTuzH7QWqjQJHOcTf2ia3lpmADli-x4" download><span>DOWNLOAD</span><span>Pdf</span></a></span>
            </div>
        </div>
        <div class="card-footer">
            <h3 class="text-dark">Schedule</h3>
            <p class="text-dark">Last update : 2 days ago</p>
        </div>
    </div>
</div>
