<div class="col-lg-3">
    <div class="card dashboard-item dashboard-small-list">
        <div class="card-header card-header-secondary">
            <h4 class="card-title">Next Exams</h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Computer science</td>
                        <td>
                            <span class="card-title">11/12/19</span>
                            <span class="badge badge-secondary">11:59am</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Communication</td>
                        <td>
                            <span class="card-title">30/10/19</span>
                            <span class="badge badge-secondary">09:00pm</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Integration WEB</td>
                        <td>
                            <span class="card-title">20/04/19</span>
                            <span class="badge badge-secondary">11:59am</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>