<div class="col-md-3">
    <div class="card card-stats dashboard-item">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
                <i class="material-icons">content_copy</i>
            </div>
            <div class="align-middle p-1 pr-2">
                <h3 class="text-dark">Annual Planning</h3>
                <p class="text-dark">Last update : 2 days ago</p>
            </div>
        </div>
        <div class="card-footer">
            <span class="download"><a href="#" download><span>Download</span><span>DOWNLOAD</span></a></span>
            <span class="download"><a href="#" download><span>Pdf</span><span>PDF</span></a></span>
        </div>
    </div>
</div>
