<div class="col-lg-6">
    <div class="card dashboard-item dashboard-checklist">
        <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper row">
                    <div class="nav-tabs-title my-auto">Rendering:</div>
                    <ul class="nav nav-tabs col" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#profile" data-toggle="tab">
                                <i class="material-icons align-middle">assignment</i> Practical Work
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#messages" data-toggle="tab">
                                <i class="material-icons align-middle">movie_filter</i> Project
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" disabled checked>
                                        <span class="form-check-sign">
                                        <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td>Exercise about integration. Page Number 2 / 3 / 4.</td>
                            <td>Computer Science : CSS</td>
                            <td class="td-actions text-right text-align-center">
                                <div class="custom-date">
                                    <span class="card-title">07/09/19</span>
                                    <span class="badge badge-secondary">11:59am</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" disabled>
                                        <span class="form-check-sign">
                                        <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td>Do the SEO expertise of my awesome website.</td>
                            <td>Web-Marketing</td>
                            <td class="td-actions text-right text-align-center">
                                <div class="custom-date">
                                    <span class="card-title">04/07/19</span>
                                    <span class="badge badge-secondary">11:59am</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="messages">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" disabled checked>
                                        <span class="form-check-sign">
                                        <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td>Annual Project, first rendering.</td>
                            <td>PHP : Symfony</td>
                            <td class="td-actions text-right text-align-center">
                                <div class="custom-date">
                                    <span class="card-title">21/03/19</span>
                                    <span class="badge badge-secondary">11:59am</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>