{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Events</a></li>
<li class="breadcrumb-item active" aria-current="page">New Event</li>
{% endblock %}

{% block body %}
<div class="card m-auto w-75">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Add a new event</h4>
  </div>
  <div class="card-body">
    <div class="clear mb-2">
      <a class="btn btn-default btn-sm" role="button" href="{{ path('event_index') }}">back to list</a>
    </div>
    {{ include('Back/event/_form.html.twig') }}
  </div>
  {% endblock %}
