@import "~bootswatch/dist/materia/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";

$sidebar-width: 260px;

$primary-color: #9c27b0;

/* SIDEBAR component */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: $sidebar-width;
  background: #fff;
  border-right: #D2D2D2 solid 1px;
  /* box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); */

  .logo{
    margin: 0;
    position: relative;
    z-index: 4;
    padding: 15px 0px;
    display: block;
    font-size: 16px;
    color: #2e2e2e;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
  }

  .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);
  }

  .nav{
    margin-top: 20px;
    display: block;

    i {
      font-size: 24px;
      float: left;
      margin-right: 15px;
      line-height: 30px;
      width: 30px;
      text-align: center;
      color: #a9afbb;
    }

    p {
      margin: 0;
      line-height: 30px;
      font-size: 14px;
      position: relative;
      display: block;
      height: auto;
      white-space: nowrap;
    }

    li:not(.active) a:hover{
      background-color: #eeeeee;
    }
  }

  .sidebar-wrapper {

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 15px;
      height: 1px;
      width: calc(100% - 30px);
      background-color: rgba(180, 180, 180, 0.3);
    }

    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
    transition-property: top, bottom, width;
    transition-duration: .2s, .2s, .35s;
    transition-timing-function: linear, linear, ease;
  }

  .user-infos{

    padding: 15px 15px 0 15px;
    margin-bottom: 10px;
    color: #2e2e2e;
    font-size: 1.1em;

    .photo{
      border-radius:50%;
      height: 50px;
      width: 50px;
      background-image: url(https://picsum.photos/200);
      background-position:50% 50%;
      background-repeat:no-repeat;
      background-size: 100% auto;
    }

    .name{
      margin-left:10px;
      font-size: 24px;
    }
  }
}

.sidebar .nav li.active>a, .sidebar .nav li.active>a i {
  color: #fff;
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3C4858;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
}

.sidebar li.active>a {
  background-color: #{$primary-color};
  /* box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4); */
}

/* # MAIN PANEL COMPONENT */

.content{
  background-color: #F6F6F6;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - #{$sidebar-width});
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel>.content {
  margin-top: 70px;
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}

/* NAVBAR Component */

.navbar.navbar-transparent, .navbar .breadcrumb {
  background-color: #fff !important;
  box-shadow: none;
}
.navbar.navbar-absolute {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 1029;
}

.navbar {
  border: 0;
  border-radius: 3px;
  padding: 0.625rem 0;
  margin-bottom: 20px;
  height: auto !important;
  color: #555;
  background-color: #fff !important;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
  margin-left: 5px;
  color: inherit;
}

.navbar .collapse .navbar-nav .nav-item .nav-link .notification {
  top: 0px;
}

.navbar .notification {
  position: absolute;
  top: 5px;
  border: 1px solid #FFF;
  right: 10px;
  font-size: 10px;
  background: #{$primary-color};
  color: #FFFFFF;
  min-width: 20px;
  padding: 0px 5px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 19px;
  vertical-align: middle;
  display: block;
}

.notifications {
  min-width:420px;

  a.content {
    text-decoration:none;
    background:#E7E7E7;
  }
}

.notifications-wrapper {
  max-height:250px;
}

.item-title {
  color:#000;
  font-size: 1.3em;
}
.item-time {
  font-size: 0.8em;
  background-color: #{$primary-color};
}

.notification-item {
  padding:7px;
  margin:4px;
  border-radius:1px;
  background-color: #eeeeee;
  overflow-x: hidden;
}

/*--------------------
Input Search Bar
--------------------*/
.search-form {
  position: relative;
  width: 350px;
  height: 40px;
  background: #fff;
  transition: all 0.3s ease;
}

.search-input {
  position: absolute;
  top: 5px;
  left: 44px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 83%;
  height: 30px;
  border: none;
  appearance: none;
  outline: none;

  border-bottom: #e0e0e0 solid 1px;
  &:focus {
    border-bottom: #878F99 solid 1px;
  }
  &::placeholder {
    color:#878F99;
    padding-left:2px;
  }
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;      font-size: 24px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;

  & i {
    width: 20px;
    height: 20px;
    color: #e0e0e0;
  }
}