$primary-color: #9c27b0;
$box-shadow-primary: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #{$primary-color};

$validate-color:#32CD32;
$box-shadow-validate: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #{$validate-color};
