@import './colors.scss';

.alert-notification{
  background: $primary-color;
  font-size: 15px;
}
.notification-viewed{
  background: #FFF;
  color: #000 !important;
  button, a {
    color: #000 !important;
  }
}
