{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
  <ol class="list-reset flex text-grey">
    <li><a href="#" class="text-white font-bold">Home</a></li>
    <li><span class="mx-2">/</span></li>
    <li><a href="#" class="text-white font-bold">Javascript</a></li>
    <li><span class="mx-2">/</span></li>
    <li>Exam</li>
  </ol>
{% endblock %}

{% block body %}
<div class="bg-white rounded">
  Ouesh
</div>
{% endblock %}
