{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
{% endblock %}

{% block body %}
Ouesh
{% endblock %}