{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{{ path('dashboard')}}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ path('user_profile')}}">My profile</a></li>
      <li class="breadcrumb-item active">Edit my profile</li>
{% endblock %}

{% block body %}
<div class="card m-auto w-90">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Edit my profile</h4>
    </div>
    <div class="card-body">
    <a class="btn btn-default btn-sm" role="button" href="{{ path('user_profile') }}">Back to my profile</a>
    {{ include('Back/user/_form.html.twig', {'button_label': 'Update'}) }}
</div>
</div>
{% endblock %}
