{% extends 'Back/layouts/app.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('dashboard_school') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ path('classroom_index') }}">Classrooms</a></li>
<li class="breadcrumb-item active">New classroom</li>
{% endblock %}

{% block body %}
<div class="card m-auto w-75">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Add a new classroom</h4>
  </div>
  <div class="card-body">
    <div class="clear mb-2">
      <a class="btn btn-default btn-sm" role="button" href="{{ path('classroom_index') }}">back to list</a>
    </div>
    {{ include('Back/classroom/_form.html.twig') }}
  </div>
  {% endblock %}
