{% extends 'errors/errors.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('errors') }}
{% endblock %}

{% block title %}
    500
{% endblock %}

{% block body %}
    <h1 data-h1="500">500</h1>
    <p data-p="SERVER ERROR">SERVER ERROR</p>
{% endblock %}
